@page "/"

@inject IDeckState DeckState;
@inject ITrickState TrickState;
@inject ITrickWinner TrickWinner;
@inject IGameManager GameManager;

@if (Game != null)
{
    <PlayerComponent Player="Game.FirstPlayer"></PlayerComponent>
    <DeckComponent Deck="Game.Deck"></DeckComponent>
    <TrickComponent></TrickComponent>
    <PlayerComponent Player="Game.SecondPlayer"></PlayerComponent>
    <div id="Announce"></div>
}

@code {

    public Game Game { get; set; }

    protected override void OnInitialized()
    {
        Game = GameManager.StartGame("Plamen");

        TrickState.OnPlay += PlayTrick;
        TrickState.PlayerTurn = PlayerPosition.First;
        TrickState.TrumpCardSuit = Game.Deck.TrumpCard.Suit;
    }

    private async void PlayTrick()
    {
        Hand hand = new Hand() { Cards = TrickState.Cards };
        PlayerPosition winnerPosition = TrickWinner.GetWinner(TrickState.Cards, Game.Deck.TrumpCard.Suit);

        if (winnerPosition == Game.FirstPlayer.Position)
        {
            Game.FirstPlayer.Hands.Add(hand);
        }
        else
        {
            Game.SecondPlayer.Hands.Add(hand);
        }

        await Task.Delay(1500);

        TrickState.Clear();
        TrickState.PlayerTurn = winnerPosition;

        DrawCards(winnerPosition);
        StateHasChanged();
    }

    private void DrawCards(PlayerPosition winnerPosition)
    {
        if (DeckState.IsClosed || !Game.Deck.Cards.Any())
        {
            return;
        }

        Card firstCard = Game.Deck.GetNextCard();
        Card secondCard = Game.Deck.GetNextCard();

        if (Game.FirstPlayer.Position == winnerPosition)
        {
            Game.FirstPlayer.Cards.Add(firstCard);
            Game.SecondPlayer.Cards.Add(secondCard);
        }
        else
        {
            Game.SecondPlayer.Cards.Add(firstCard);
            Game.FirstPlayer.Cards.Add(secondCard);
        }

        if (!Game.Deck.Cards.Any())
        {
            DeckState.ShouldFollowSuit = true;
        }
    }
}