@page "/"

@inject IJSRuntime JSRuntime;
@inject IDeckState DeckState;
@inject ITrickState TrickState;
@inject IGameEngine GameEngine;

@if (Game != null)
{
    <PlayerComponent Player="Game.Players.First()"></PlayerComponent>
    <DeckComponent Deck="Game.Deck"></DeckComponent>
    <TrickComponent></TrickComponent>
    <PlayerComponent Player="Game.Players.Last()"></PlayerComponent>
    <div id="Announce"></div>
}

@code {

    public Game Game { get; set; }

    protected override void OnInitialized()
    {
        Game = GameEngine.StartGame("Plamen");
        TrickState.OnNotify += Notify;

        TrickState.OnPlay += PlayTrick;
        TrickState.PlayerTurn = PlayerPosition.First;
        DeckState.TrumpCard = Game.Deck.TrumpCard;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1500);

            GameEngine.AIPlay(Game.Players.First());
        }

        StateHasChanged();
    }

    private void PlayTrick()
    {
        GameEngine.PlayTrick(Game);
    }

    private void Notify(string message)
    {
        JSRuntime.InvokeVoidAsync("announce", message);
    }
}