@page "/"

@inject IJSRuntime JSRuntime;
@inject IGameState GameState;
@inject IDeckState DeckState;
@inject ITrickState TrickState;
@inject IGameEngine GameEngine;

@if (Game != null)
{
    <RoundPointsComponent Game="Game"></RoundPointsComponent>
    <PlayerComponent Player="Game.Players.First()"></PlayerComponent>
    <DeckComponent Deck="Game.Deck"></DeckComponent>
    <TrickComponent></TrickComponent>
    <PlayerComponent Player="Game.Players.Last()"></PlayerComponent>
    <div id="Announce"></div>
}

@code {

    public Game Game { get; set; }

    protected override void OnInitialized()
    {
        Game = GameEngine.StartGame("Plamen");

        TrickState.OnPlay += () => GameEngine.PlayTrick(Game);
        TrickState.OnDisplay += () => StateHasChanged();
        TrickState.OnManagePlayerTurn += () => GameEngine.ManagePlayersTurn();
        TrickState.PlayerTurn = PlayerPosition.First;
        DeckState.TrumpCard = Game.Deck.TrumpCard;

        GameState.OnRenderBoard += () => StateHasChanged();
        GameState.OnShowMessage += (message) => JSRuntime.InvokeVoidAsync("announce", message);
        GameState.Game = Game;

        GameEngine.ManagePlayersTurn();
    }
}