@page "/"

@inject TrickState TrickState;
@inject ITrickWinner TrickWinner;
@inject IGameManager GameManager;

@if (Game != null)
{
    <PlayerComponent Player="Game.FirstPlayer"></PlayerComponent>
    <DeckComponent Deck="Game.Deck"></DeckComponent>
    <TrickComponent></TrickComponent>
    <PlayerComponent Player="Game.SecondPlayer"></PlayerComponent>
    <div id="Announce"></div>
}

@code {

    public Game Game { get; set; }

    protected override void OnInitialized()
    {
        Game = GameManager.StartGame("Plamen");

        TrickState.OnPlayTrick += PlayTrick;
        TrickState.FirstToPlay = PlayerPosition.First;
        TrickState.TrumpCardSuit = Game.Deck.TrumpCard.Suit;
    }

    private async void PlayTrick()
    {
        List<Card> trickCards = new List<Card>()
        {
            TrickState.FirstPlayerCard,
            TrickState.SecondPlayerCard
        };

        Hand hand = new Hand() { Cards = trickCards };
        PlayerPosition winnerPosition = TrickWinner.GetWinner(trickCards, Game.Deck.TrumpCard.Suit);

        if (winnerPosition == Game.FirstPlayer.Position)
        {
            Game.FirstPlayer.Hands.Add(hand);
        }
        else
        {
            Game.SecondPlayer.Hands.Add(hand);
        }

        await Task.Delay(1500);

        TrickState.Clear();
        TrickState.FirstToPlay = winnerPosition;

        DrawCards();
        StateHasChanged();
    }

    private void DrawCards()
    {
        Card firstCard = Game.Deck.GetNextCard();
        Card secondCard = Game.Deck.GetNextCard();

        if (Game.FirstPlayer.Position == TrickState.FirstToPlay)
        {
            Game.FirstPlayer.Cards.Add(firstCard);
            Game.SecondPlayer.Cards.Add(secondCard);
        }
        else
        {
            Game.SecondPlayer.Cards.Add(firstCard);
            Game.FirstPlayer.Cards.Add(secondCard);
        }
    }
}