@page "/"

@inject IJSRuntime JSRuntime;
@inject IGameState GameState;
@inject ITrickState TrickState;
@inject IGameEngine GameEngine;
@inject IRoundManager RoundManager; 

@if (Game != null)
{
    <RoundPointsComponent Game="Game" OnClick="StartNewRound"></RoundPointsComponent>
    <PlayerComponent Player="Game.Players.First()"></PlayerComponent>
    <DeckComponent Deck="Game.Deck"></DeckComponent>
    <TrickComponent></TrickComponent>
    <PlayerComponent Player="Game.Players.Last()"></PlayerComponent>
    <div id="Announce"></div>
}

@code {

    private Game Game { get; set; }

    protected override void OnInitialized()
    {
        Game = GameEngine.StartGame("Plamen");

        TrickState.OnPlay += () => GameEngine.PlayTrick(Game);
        TrickState.OnDisplay += () => StateHasChanged();
        TrickState.OnManagePlayerTurn += () => GameEngine.ManagePlayersTurn(Game);

        GameState.OnRenderBoard += () => StateHasChanged();
        GameState.OnEndRound += () => JSRuntime.InvokeVoidAsync("showScoreboard");
        GameState.OnShowMessage += (message) => JSRuntime.InvokeVoidAsync("announce", message);

        GameEngine.ManagePlayersTurn(Game);
    }

    private void StartNewRound()
    {
        Deck deck = RoundManager.StartRound(Game.Players);
        Game.Deck = deck;

        GameEngine.ManagePlayersTurn(Game);
    }
}