@page "/lobby"

<div id="Lobby">
    <div class="card lobby-card">
        <img src="/images/common/Bot.png" class="card-img-top" alt="Bot">
        <div class="card-body">
            <p class="card-text">vs computer</p>
        </div>
    </div>

    <div class="card lobby-card">
        <img src="/images/common/Multiplayer.png" class="card-img-top" alt="Multiplayer">
        <div class="card-body">
            <p class="card-text">vs players</p>
        </div>
    </div>
</div>

@code {

}
