.card-component {
    cursor: pointer;
}

.trump-card {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    left: 370px;
}

.deck-card {
    position: relative;
}

.card-component, .trump-card, .deck-card {
    width: 110px;
}

#FirstPlayerCards, #SecondPlayerCards {
    text-align: center;
    position: relative;
}

#FirstPlayerCards {
    top: -50px;
}

#SecondPlayerCards {
    top: 50px;
}

#SecondPlayerCards .card-component:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.first-player-trick-card, .second-player-trick-card {
    width: 110px;
    height: 150px;
    left: 840px;
    position: absolute;
    text-align: center;
}

.first-player-trick-card {
    top: 230px;
}

.second-player-trick-card {
    top: 380px;
}