.card-component {
    cursor: pointer;
}

.trump-card {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    left: 370px;
}

.deck-component {
    position: relative;
}
