@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-link" href="singleplayer">New Game</NavLink>
            <NavLink class="nav-link" href="loadgame">Load Game</NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
