@inject IDeckState DeckState;
@inject IJSRuntime JSRuntime;

@if (Deck.Cards.Any())
{
    <CardComponent PlayerAction="new PlayerAction(PlayerActionType.ChangeTrump, Deck.TrumpCard)" OnClick="DeckState.ChangeTrumpCard"></CardComponent>
    <div id="DeckCards" class="card-component" @onclick="DeckState.Close">
        <div id="DeckCardsCount">@(Deck.Cards.Count)</div>
        <img src="/images/cards/Back.png" id="DeckBackCard" alt="DeckBackCard" class="card-component" />
    </div>
}
else
{
    <div id="TrumpSuit"></div>
}

@code {
    [Parameter]
    public Deck Deck { get; set; }

    private bool isTrumpSuitVisible = false;

    private IEnumerable<Tuple<CardSuit, int, int>> trumpSuitCoordinates;

    protected override void OnInitialized()
    {
        DeckState.OnExchangeTrumpCardForNineOfTrumps += ExchangeTrumpCardForNineOfTrumps;
        trumpSuitCoordinates = new List<Tuple<CardSuit, int, int>>()
        {
            new Tuple<CardSuit, int, int>(CardSuit.Spade, 10, 20),
            new Tuple<CardSuit, int, int>(CardSuit.Heart, -130, 20),
            new Tuple<CardSuit, int, int>(CardSuit.Diamond, 10, -120),
            new Tuple<CardSuit, int, int>(CardSuit.Club, -130, -120)
        };
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!Deck.Cards.Any() && !isTrumpSuitVisible)
        {
            var coordinates = trumpSuitCoordinates.First(x => x.Item1 == DeckState.TrumpCard.Suit);
            JSRuntime.InvokeVoidAsync("showTrumpSuit", coordinates.Item2, coordinates.Item3);

            isTrumpSuitVisible = true;
        }
    }

    private void ExchangeTrumpCardForNineOfTrumps(Card nineOfTrumpsCard)
    {
        Deck.Cards[Deck.Cards.Count - 1] = nineOfTrumpsCard;
        Deck.TrumpCard = nineOfTrumpsCard;
        DeckState.TrumpCard = nineOfTrumpsCard;

        StateHasChanged();
    }
}