<h3>Deck</h3>

<CardComponent Card="Deck.TrumpCard" IsTrumpCard="true"></CardComponent>
<img src="/images/cards/Back.png" id="Back" alt="Back" class="card-component deck-card" />

@code {
    [Parameter]
    public Deck Deck { get; set; }
}