@inject IDeckState DeckState;

@if (Deck.Cards.Any())
{
    <CardComponent Card="Deck.TrumpCard" IsTrumpCard="true" OnClick="DeckState.ChangeTrumpCard"></CardComponent>
    <div id="DeckCards" class="card-component" @onclick="DeckState.Close">
        <div id="DeckCardsCount">@(Deck.Cards.Count)</div>
        <img src="/images/cards/Back.png" id="DeckBackCard" alt="DeckBackCard" class="card-component" />
    </div>
}

@code {
    [Parameter]
    public Deck Deck { get; set; }

    protected override void OnInitialized()
    {
        DeckState.OnExchangeTrumpCardForNineOfTrumps += ExchangeTrumpCardForNineOfTrumps;
    }

    private void ExchangeTrumpCardForNineOfTrumps(Card nineOfTrumpsCard)
    {
        Deck.Cards[Deck.Cards.Count - 1] = nineOfTrumpsCard;
        Deck.TrumpCard = nineOfTrumpsCard;

        StateHasChanged();
    }
}