@inject IDeckState DeckState;
@inject ITrickState TrickState;
@inject IJSRuntime JSRuntime;

<div id="@(Player.Position == PlayerPosition.First ? "FirstPlayerCards" : "SecondPlayerCards")">
    @if (Player.Position == PlayerPosition.Second)
    {
        <div id="PlayerInfo">
            <img src="/images/common/player.png" alt="PlayerImage" id="PlayerImage" />
            <div id="Username">@Player.Username</div>
            <div id="Points">@points</div>
        </div>
    }

    @foreach (var card in Player.Cards)
    {
        <CardComponent Card="card" OnClick="PlayCard"></CardComponent>
    }
</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    private int points;

    protected override void OnInitialized()
    {
        DeckState.OnClose += CloseDeck;
        DeckState.OnChangeTrumpCard += ChangeTrumpCard;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        points = Player.Hands.SelectMany(x => x.Cards).Sum(x => (int)x.Type);
    }

    private void CloseDeck()
    {
        if (CanPerformAction())
        {
            DeckState.IsClosed = true;

            JSRuntime.InvokeVoidAsync("announce", "Close");
        }
    }

    private void ChangeTrumpCard(Card trumpCard)
    {
        if (CanPerformAction())
        {
            Card nineOfTrumpsCard = Player.Cards.FirstOrDefault(x => x.Type == CardType.Nine && x.Suit == trumpCard.Suit);

            if (nineOfTrumpsCard != null)
            {
                JSRuntime.InvokeVoidAsync("announce", "Change");

                int nineOfTrumpsIndex = Player.Cards.FindIndex(x => x.Name == nineOfTrumpsCard.Name);
                Player.Cards[nineOfTrumpsIndex] = trumpCard;
                StateHasChanged();

                DeckState.ExchangeTrumpCardForNineOfTrumps(nineOfTrumpsCard);
            }
        }
    }

    private void PlayCard(Card card)
    {
        Card trickCard = GetTrickCard();

        if (Player.Position == TrickState.PlayerTurn)
        {
            if (trickCard != null && DeckState.ShouldFollowSuit)
            {
                bool hasSameSuit = Player.Cards.Any(x => x.Suit == trickCard.Suit);

                if (hasSameSuit && card.Suit != trickCard.Suit)
                {
                    return;
                }
            }

            Announce announce = GetAnnounce(card);

            if (trickCard == null && announce != Announce.None)
            {
                points += (int)announce;
                JSRuntime.InvokeVoidAsync("announce", announce);
            }

            Player.Cards.Remove(card);

            TrickState.AddCard(card, Player.Position);
        }
    }

    private Announce GetAnnounce(Card card)
    {
        if (Player.Hands.Count > 0 && !DeckState.ShouldFollowSuit)
        {
            CardType searchCardType;

            switch (card.Type)
            {
                case CardType.Queen:
                    searchCardType = CardType.King;
                    break;
                case CardType.King:
                    searchCardType = CardType.Queen;
                    break;
                default:
                    return Announce.None;
            }

            Card searchCard = Player.Cards.FirstOrDefault(x => x.Suit == card.Suit && x.Type == searchCardType);

            if (searchCard != null)
            {
                if (searchCard.Suit == TrickState.TrumpCardSuit)
                {
                    return Announce.Forty;
                }

                return Announce.Twenty;
            }
        }

        return Announce.None;
    }

    private Card GetTrickCard()
    {
        if (Player.Position == PlayerPosition.First)
        {
            return TrickState.Cards[1];
        }

        return TrickState.Cards[0];
    }

    private bool CanPerformAction()
    {
        return Player.Position == TrickState.PlayerTurn &&
            !TrickState.Cards.Any() &&
            Player.Hands.Any();
    }
}