@inject IDeckState DeckState;
@inject IEnumerable<IPlayerActionManager> Managers;
@inject IAnnounceCardProvider AnnounceCardProvider;

<div id="@(Player.Position == PlayerPosition.First ? "FirstPlayerCards" : "SecondPlayerCards")">
    <div id="Messages-@Player.Position"></div>

    @if (Player.Position == PlayerPosition.Second)
    {
        <div id="PlayerInfo">
            <img src="/images/common/player.png" alt="PlayerImage" id="PlayerImage" />
            <div id="Username">@Player.Username</div>
            <div id="Points">@Player.Points</div>
        </div>
    }

    @foreach (var card in Player.Cards)
    {
        if (Player.Position == PlayerPosition.Second)
        {
            <CardComponent PlayerAction="GetPlayerAction(card)" OnClick="Play"></CardComponent>
        }
        else
        {
            <CardComponent PlayerAction="new PlayerAction(PlayerActionType.None, card)"></CardComponent>
        }
    }
</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    protected override void OnInitialized()
    {
        DeckState.OnClose += Play;
        DeckState.OnChangeTrumpCard += Play;
    }

    private void Play(PlayerAction playerAction)
    {
        IPlayerActionManager manager = Managers.FirstOrDefault(x => x.ShouldManage(playerAction, Player));
        manager?.Manage(playerAction, Player);

        StateHasChanged();
    }

    private PlayerAction GetPlayerAction(Card card)
    {
        PlayerAction playerAction = AnnounceCardProvider.GetAnnounce(Player, card);

        if (playerAction.Announce != Announce.None)
        {
            return playerAction;
        }

        return new PlayerAction(PlayerActionType.PlayCard, card);
    }
}