@inject TrickState TrickState;

<h3>@Player.Username</h3>

<div id="@(Player.Position == PlayerPosition.First ? "FirstPlayerCards" : "SecondPlayerCards")">

    @foreach (var card in Player.Cards)
    {
        <CardComponent Card="card" OnClick="PlayCard"></CardComponent>
    }

</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    private void PlayCard(Card card)
    {
        var trickCard = GetTrickCard();

        if (Player.Position == TrickState.FirstToPlay || trickCard != null)
        {
            Player.Cards.Remove(card);

            TrickState.AddCard(card, Player.Position);
        }
    }

    private Card GetTrickCard()
    {
        if (Player.Position == PlayerPosition.First)
        {
            return TrickState.SecondPlayerCard;
        }

        return TrickState.FirstPlayerCard;
    }
}