@inject TrickState TrickState;

<h3>@Player.Username</h3>

<div id="@(Player.Position == PlayerPosition.First ? "FirstPlayerCards" : "SecondPlayerCards")">

    @foreach (var card in Player.Cards)
    {
        <CardComponent Card="card" OnClick="PlayCard"></CardComponent>
    }

</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    private void PlayCard(Card card)
    {
        if ((Player.Position == TrickState.FirstToPlay && TrickState.FirstPlayedCard == null) || 
            (Player.Position != TrickState.FirstToPlay && TrickState.SecondPlayedCard == null))
        {
            Player.Cards.Remove(card);

            TrickState.AddCard(card, Player.Position);
        }
    }
}