@inject IDeckState DeckState;
@inject ITrickState TrickState;
@inject IJSRuntime JSRuntime;
@inject IPlayerManager PlayerManager;

<div id="@(Player.Position == PlayerPosition.First ? "FirstPlayerCards" : "SecondPlayerCards")">
    @if (Player.Position == PlayerPosition.Second)
    {
        <div id="PlayerInfo">
            <img src="/images/common/player.png" alt="PlayerImage" id="PlayerImage" />
            <div id="Username">@Player.Username</div>
            <div id="Points">@points</div>
        </div>
    }

    @foreach (var card in Player.Cards)
    {
        <CardComponent Card="card" OnClick="PlayCard"></CardComponent>
    }
</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    private int points;

    protected override void OnInitialized()
    {
        DeckState.OnClose += CloseDeck;
        DeckState.OnChangeTrumpCard += ChangeTrumpCard;
    }

    protected override void OnParametersSet()
    {
        points = Player.Hands.SelectMany(x => x.Cards).Sum(x => (int)x.Type);
    }

    private void CloseDeck()
    {
        bool isClosed = PlayerManager.CloseDeck(Player);

        if (isClosed)
        {
            JSRuntime.InvokeVoidAsync("announce", "Close");
        }
    }

    private void ChangeTrumpCard(Card trumpCard)
    {
        bool isChanged = PlayerManager.ChangeTrumpCard(Player, trumpCard);

        if (isChanged)
        {
            JSRuntime.InvokeVoidAsync("announce", "Change");
            StateHasChanged();
        }
    }

    private void PlayCard(Card card)
    {
        Announce announce = PlayerManager.PlayCard(Player, card);

        if (announce != Announce.None)
        {
            points += (int)announce;
            JSRuntime.InvokeVoidAsync("announce", announce);
        }
    }
}