<h3>@Player.Username</h3>

<div class="player-cards"
     id="@(Player.Position == PlayerPosition.First ? 
           "FirstPlayerCards" : 
           "SecondPlayerCards")">

    @foreach (var card in Player.Cards)
    {
        <CardComponent Card="card"></CardComponent>
    }

</div>

@code {
    [Parameter]
    public Player Player { get; set; }
}