@inject TrickState TrickState;
@inject IJSRuntime JSRuntime;

<div id="@(Player.Position == PlayerPosition.First ? "FirstPlayerCards" : "SecondPlayerCards")">
    <h3>@Player.Username</h3>

    @foreach (var card in Player.Cards)
    {
        <CardComponent Card="card" OnClick="PlayCard"></CardComponent>
    }

</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    private void PlayCard(Card card)
    {
        var trickCard = GetTrickCard();

        if (Player.Position == TrickState.FirstToPlay || trickCard != null)
        {
            Announce announce = GetAnnounce(card);

            if (trickCard == null && announce != Announce.None)
            {
                JSRuntime.InvokeVoidAsync("announce", announce);
            }

            Player.Cards.Remove(card);

            TrickState.AddCard(card, Player.Position);
        }
    }

    private Announce GetAnnounce(Card card)
    {
        if (Player.Hands.Count > 0 && TrickState.FirstToPlay == Player.Position)
        {
            CardType searchCardType;

            switch (card.Type)
            {
                case CardType.Queen:
                    searchCardType = CardType.King;
                    break;
                case CardType.King:
                    searchCardType = CardType.Queen;
                    break;
                default:
                    return Announce.None;
            }

            Card searchCard = Player.Cards.FirstOrDefault(x => x.Suit == card.Suit && x.Type == searchCardType);

            if (searchCard != null)
            {
                if (searchCard.Suit == TrickState.TrumpCardSuit)
                {
                    return Announce.Forty;
                }

                return Announce.Twenty;
            }
        }

        return Announce.None;
    }

    private Card GetTrickCard()
    {
        if (Player.Position == PlayerPosition.First)
        {
            return TrickState.SecondPlayerCard;
        }

        return TrickState.FirstPlayerCard;
    }
}