@inject IDeckState DeckState;
@inject IJSRuntime JSRuntime;
@inject IEnumerable<IPlayerActionManager> Managers;
@inject IAnnounceCardProvider AnnounceCardProvider;

<div id="@(Player.Position == PlayerPosition.First ? "FirstPlayerCards" : "SecondPlayerCards")">
    @if (Player.Position == PlayerPosition.Second)
    {
        <div id="PlayerInfo">
            <img src="/images/common/player.png" alt="PlayerImage" id="PlayerImage" />
            <div id="Username">@Player.Username</div>
            <div id="Points">@Player.Points</div>
        </div>
    }

    @foreach (var card in Player.Cards)
    {
        <CardComponent PlayerAction="GetPlayerAction(card)" OnClick="Play"></CardComponent>
    }
</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    protected override void OnInitialized()
    {
        DeckState.OnClose += Play;
        DeckState.OnChangeTrumpCard += Play;
    }

    private void Play(PlayerAction playerAction)
    {
        IPlayerActionManager manager = Managers.First(x => x.ShouldManage(playerAction));
        manager.Manage(playerAction, Player);

        // JSRuntime.InvokeVoidAsync("announce", "Close");
        // JSRuntime.InvokeVoidAsync("announce", "Change");
        // JSRuntime.InvokeVoidAsync("announce", 40);
        StateHasChanged();
    }

    private PlayerAction GetPlayerAction(Card card)
    {
        PlayerAction playerAction = AnnounceCardProvider.GetAnnounce(Player, card);

        if (playerAction.Announce != Announce.None)
        {
            return playerAction;
        }

        return new PlayerAction(PlayerActionType.PlayCard, card);
    }
}